USE [master]
GO
/****** Object:  Database [CarSalesDB]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE DATABASE [CarSalesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarSalesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CarSalesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarSalesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CarSalesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarSalesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarSalesDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/18/2026 7:52:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 04/18/2026 7:52:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[Logo] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarImages]    Script Date: 04/18/2026 7:52:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[CarId] [int] NOT NULL,
	[ImageUrl] [nvarchar](255) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CarImages] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 04/18/2026 7:52:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [nvarchar](150) NOT NULL,
	[BrandId] [int] NOT NULL,
	[CarTypeId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Year] [int] NOT NULL,
	[Mileage] [int] NULL,
	[FuelType] [nvarchar](50) NULL,
	[Transmission] [nvarchar](50) NULL,
	[Seats] [int] NULL,
	[Color] [nvarchar](50) NULL,
	[Engine] [nvarchar](100) NULL,
	[Origin] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Thumbnail] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarTypes]    Script Date: 04/18/2026 7:52:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarTypes](
	[CarTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_CarTypes] PRIMARY KEY CLUSTERED 
(
	[CarTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deposits]    Script Date: 04/18/2026 7:52:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deposits](
	[DepositId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[StaffId] [int] NULL,
	[DepositAmount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[DepositDate] [datetime2](7) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Deposits] PRIMARY KEY CLUSTERED 
(
	[DepositId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 04/18/2026 7:52:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseRequests]    Script Date: 04/18/2026 7:52:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[StaffId] [int] NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Message] [nvarchar](1000) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PurchaseRequests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04/18/2026 7:52:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/18/2026 7:52:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260320144324_InitialCreate', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260407164003_SetupDatabase', N'10.0.5')
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandId], [BrandName], [Country], [Description], [Logo], [IsActive]) VALUES (1, N'Toyota', N'Nhật Bản', NULL, NULL, 1)
INSERT [dbo].[Brands] ([BrandId], [BrandName], [Country], [Description], [Logo], [IsActive]) VALUES (2, N'Hyundai', N'Hàn Quốc', NULL, NULL, 1)
INSERT [dbo].[Brands] ([BrandId], [BrandName], [Country], [Description], [Logo], [IsActive]) VALUES (3, N'Kia', N'Hàn Quốc', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarId], [CarName], [BrandId], [CarTypeId], [Price], [Year], [Mileage], [FuelType], [Transmission], [Seats], [Color], [Engine], [Origin], [Description], [Thumbnail], [Status], [IsFeatured], [CreatedAt], [UpdatedAt]) VALUES (1, N'Toyota Camry 2.5Q', 1, 1, CAST(1450000000.00 AS Decimal(18, 2)), 2023, 12000, N'Xăng', N'Số tự động', 5, N'Đen', N'2.5L', N'Nhật Bản', N'Mẫu sedan cao cấp, vận hành êm ái.', N'/uploads/cars/camry.jpg', N'Available', 1, CAST(N'2026-04-17T20:55:10.4967092' AS DateTime2), CAST(N'2026-04-18T00:43:05.2000000' AS DateTime2))
INSERT [dbo].[Cars] ([CarId], [CarName], [BrandId], [CarTypeId], [Price], [Year], [Mileage], [FuelType], [Transmission], [Seats], [Color], [Engine], [Origin], [Description], [Thumbnail], [Status], [IsFeatured], [CreatedAt], [UpdatedAt]) VALUES (2, N'Hyundai SantaFe', 2, 2, CAST(1290000000.00 AS Decimal(18, 2)), 2022, 18000, N'Dầu', N'Số tự động', 7, N'Trắng', N'2.2L', N'Hàn Quốc', N'SUV gia đình rộng rãi.', N'/uploads/cars/santafe.jpg', N'Available', 1, CAST(N'2026-04-17T20:55:10.4967251' AS DateTime2), CAST(N'2026-04-18T00:42:23.4800000' AS DateTime2))
INSERT [dbo].[Cars] ([CarId], [CarName], [BrandId], [CarTypeId], [Price], [Year], [Mileage], [FuelType], [Transmission], [Seats], [Color], [Engine], [Origin], [Description], [Thumbnail], [Status], [IsFeatured], [CreatedAt], [UpdatedAt]) VALUES (3, N'VinFast VF 8 Plus', 4, 2, CAST(1270000000.00 AS Decimal(18, 2)), 2024, 0, N'Điện', N'Số tự động', 5, N'Xanh dương', N'300kW', N'Việt Nam', N'Xe điện thông minh, công nghệ ADAS.', N'/uploads/cars/vf8.jpg', N'Available', 1, CAST(N'2026-04-08T00:05:22.3866667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[CarTypes] ON 

INSERT [dbo].[CarTypes] ([CarTypeId], [TypeName], [Description]) VALUES (1, N'Sedan', NULL)
INSERT [dbo].[CarTypes] ([CarTypeId], [TypeName], [Description]) VALUES (2, N'SUV', NULL)
INSERT [dbo].[CarTypes] ([CarTypeId], [TypeName], [Description]) VALUES (3, N'Hatchback', NULL)
SET IDENTITY_INSERT [dbo].[CarTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Deposits] ON 

INSERT [dbo].[Deposits] ([DepositId], [UserId], [CarId], [StaffId], [DepositAmount], [PaymentMethod], [PaymentStatus], [DepositDate], [Note], [Status]) VALUES (1, 3, 16, 2, CAST(100000000.00 AS Decimal(18, 2)), N'Bank Transfer', N'Completed', CAST(N'2026-04-08T00:14:23.4933333' AS DateTime2), N'Đã thu cọc tiền mặt tại showroom', N'Confirmed')
INSERT [dbo].[Deposits] ([DepositId], [UserId], [CarId], [StaffId], [DepositAmount], [PaymentMethod], [PaymentStatus], [DepositDate], [Note], [Status]) VALUES (2, 4, 24, NULL, CAST(1650000000.00 AS Decimal(18, 2)), N'Online', N'Pending', CAST(N'2026-04-18T06:49:10.8452138' AS DateTime2), N'Yêu cầu đặt cọc từ trang chi tiết xe', N'WaitingConfirm')
INSERT [dbo].[Deposits] ([DepositId], [UserId], [CarId], [StaffId], [DepositAmount], [PaymentMethod], [PaymentStatus], [DepositDate], [Note], [Status]) VALUES (3, 4, 17, NULL, CAST(239900000.00 AS Decimal(18, 2)), N'Online', N'Pending', CAST(N'2026-04-18T06:56:33.4101788' AS DateTime2), N'Mùa quýt', N'WaitingConfirm')
SET IDENTITY_INSERT [dbo].[Deposits] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([FavoriteId], [UserId], [CarId], [CreatedAt]) VALUES (1, 3, 5, CAST(N'2026-04-08T00:05:22.3900000' AS DateTime2))
INSERT [dbo].[Favorites] ([FavoriteId], [UserId], [CarId], [CreatedAt]) VALUES (2, 3, 12, CAST(N'2026-04-08T00:14:23.4933333' AS DateTime2))
INSERT [dbo].[Favorites] ([FavoriteId], [UserId], [CarId], [CreatedAt]) VALUES (3, 3, 8, CAST(N'2026-04-08T00:14:23.4933333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseRequests] ON 

INSERT [dbo].[PurchaseRequests] ([RequestId], [UserId], [CarId], [StaffId], [FullName], [Email], [Phone], [Message], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 3, 5, 2, N'Khách Hàng Cũ', N'khachhang@carsales.com', N'0912345678', N'Cho tôi xin báo giá lăn bánh chiếc Ranger Raptor mới nhập về.', N'Processing', CAST(N'2026-04-08T00:05:22.3900000' AS DateTime2), CAST(N'2026-04-18T04:15:00.2682774' AS DateTime2))
INSERT [dbo].[PurchaseRequests] ([RequestId], [UserId], [CarId], [StaffId], [FullName], [Email], [Phone], [Message], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 3, 12, 2, N'Trần Víp', N'vip@gmail.com', N'0999999999', N'Lexus RX350 này có sẵn giao ngay không bạn?', N'New', CAST(N'2026-04-08T00:14:23.4933333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PurchaseRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Staff')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Phone], [Address], [Avatar], [RoleId], [IsActive], [CreatedAt]) VALUES (1, N'Admin', N'admin@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'0900000001', NULL, NULL, 1, 1, CAST(N'2026-04-17T20:55:10.4301214' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Phone], [Address], [Avatar], [RoleId], [IsActive], [CreatedAt]) VALUES (2, N'Staff', N'staff@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'0900000002', NULL, NULL, 2, 1, CAST(N'2026-04-17T20:55:10.4301591' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Phone], [Address], [Avatar], [RoleId], [IsActive], [CreatedAt]) VALUES (3, N'Customer', N'customer@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'0900000003', NULL, NULL, 3, 1, CAST(N'2026-04-17T20:55:10.4301613' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_CarImages_CarId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_CarImages_CarId] ON [dbo].[CarImages]
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cars_BrandId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Cars_BrandId] ON [dbo].[Cars]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cars_CarTypeId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Cars_CarTypeId] ON [dbo].[Cars]
(
	[CarTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deposits_CarId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Deposits_CarId] ON [dbo].[Deposits]
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deposits_StaffId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Deposits_StaffId] ON [dbo].[Deposits]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deposits_UserId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Deposits_UserId] ON [dbo].[Deposits]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_CarId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_CarId] ON [dbo].[Favorites]
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_UserId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_UserId] ON [dbo].[Favorites]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseRequests_CarId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseRequests_CarId] ON [dbo].[PurchaseRequests]
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseRequests_StaffId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseRequests_StaffId] ON [dbo].[PurchaseRequests]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseRequests_UserId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseRequests_UserId] ON [dbo].[PurchaseRequests]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 04/18/2026 7:52:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarImages]  WITH CHECK ADD  CONSTRAINT [FK_CarImages_Cars_CarId] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([CarId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarImages] CHECK CONSTRAINT [FK_CarImages_Cars_CarId]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([BrandId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Brands_BrandId]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_CarTypes_CarTypeId] FOREIGN KEY([CarTypeId])
REFERENCES [dbo].[CarTypes] ([CarTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_CarTypes_CarTypeId]
GO
ALTER TABLE [dbo].[Deposits]  WITH CHECK ADD  CONSTRAINT [FK_Deposits_Cars_CarId] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([CarId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deposits] CHECK CONSTRAINT [FK_Deposits_Cars_CarId]
GO
ALTER TABLE [dbo].[Deposits]  WITH CHECK ADD  CONSTRAINT [FK_Deposits_Users_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Deposits] CHECK CONSTRAINT [FK_Deposits_Users_StaffId]
GO
ALTER TABLE [dbo].[Deposits]  WITH CHECK ADD  CONSTRAINT [FK_Deposits_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Deposits] CHECK CONSTRAINT [FK_Deposits_Users_UserId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Cars_CarId] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([CarId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Cars_CarId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Users_UserId]
GO
ALTER TABLE [dbo].[PurchaseRequests]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseRequests_Cars_CarId] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([CarId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseRequests] CHECK CONSTRAINT [FK_PurchaseRequests_Cars_CarId]
GO
ALTER TABLE [dbo].[PurchaseRequests]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseRequests_Users_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PurchaseRequests] CHECK CONSTRAINT [FK_PurchaseRequests_Users_StaffId]
GO
ALTER TABLE [dbo].[PurchaseRequests]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseRequests_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PurchaseRequests] CHECK CONSTRAINT [FK_PurchaseRequests_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
USE [master]
GO
